.container {
    max-width: 1066px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
 .row {
    display: flex;
    margin: 0 -10px;
}
.row--skills {
    margin: 0 -19px;
}
/* .row--quality {
    margin: 0 -50px;
}
.row--quality .col {
    padding: 0 50px;
} */
.row--skills .col {
    padding: 0 19px;
}
.col {
    padding: 0 10px;
    flex: 1;
}
.col-6 {
    flex-grow: 0;
    flex-basis: 50%;
}
.col-10 {
    flex-grow: 0;
    flex-basis: 83.33333333333333%;
    width: 83.33333333333333%;
}
/* .offset-1 {
    margin-left: calc(8.333333333333333%);
    margin-left: auto;
    margin: auto;
}
.offset-5 {
    margin-left: calc(8.333333333333333% * 5);
    margin-left: auto;
    margin: auto;
} */