@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Rufina:400,700');


* {
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}
.logo{
    text-align: center;
}
.menu_list{
    text-align: center;
    text-transform: uppercase;
    font-family: Rufina;
    font-weight: 700;
}
.menu_list li{
    display: inline;
}
.menu_link {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    color: #a19795;
    text-decoration: none;
    letter-spacing: -0.01em;
    padding: 17px;
}
.menu_link:after {
    position: absolute;
    bottom: 9px;
    left: 17px;
    width: calc(100% - 17px * 2);
    height: 2px;
    background-color: #a19795;
    display: block;
    content: '';
    opacity: 0;
    transform: translateY(50px);
    transition: .3s;
}
.menu_link--active, .menu_link:hover {
    color: black;
}
.menu_link--active:after, .menu_link:hover:after {
    opacity: 1;
    transform: translateY(0);
}
.navbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar li{ 
    display: inline;
}
.navbar{
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* border: 2px solid #0066FF;
    border-radius: 20px 5px; */
    text-align: center;
}
.navbar a{
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 400;
    font-family: Rufina;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
}
.navbar a:hover{
    /* border-radius: 20px 5px; */
    color: white;
    background-color: #a19795;
}
.skills {
    min-height: 325px;
    display: flex;
    padding: 84px 0px;
    box-sizing: border-box;
    background-color: #605a58;
    display: flex;
}
.skills__item{
    display: flex;
    align-items: flex-start;
}
.skills__icon{
    width: 111px;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    box-sizing: border-box;
}
.skills__text{
    padding-left: 11px;
    padding-right: 5px;
    color: white;
}
.skills__text h6{
    margin: 4px 0;
    font-family: Rufina;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
}
.skills__text p{
    margin: 15px 0;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.skills__text i{
    margin: 15px 0;
}
.skills__text img{
    padding: 0 10px;
}
/* progress bars */

.progress-bar{
    background-color: white;
    width: 264px;
    height: 20px;
    display: block;
    position: relative; top: 18px;
}
.progress-bar > span{
    background-color: #474241;
    height: 20px;
    /* color: black; */
    display: block;
}
.progress-bar:hover{
    background-color: #dfdede;
    display: block;
    position: relative; top: 18px;
}
.progress-bar > span:hover{
    background-color: #f79440;
    height: 20px;
    display: block;
}
/* footer */
.footer{
    background-color: #474241;
    
}
.footer__menu{
    height: 46px;
    color: #7E7A78;
    
}
.footer__menu:hover{
    color: white;
}
.footer__menu p{
    padding: 0 43px;
}
.footer .menu_link--active, .menu_link:hover {
    color: white;
}